:root {
    --primary-color: #FFFAFA;
    --color-pink: #FF00FF;
    --color-pink2: #FF1493;
    --gap: 3rem;
    --border-color: #EEEEEE;
}
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color:var(--primary-color);
}
.cats-main {
    font-family: 'Dancing Script', cursive;
    text-transform:initial;
}
/*
fontes:
font-family: 'Dancing Script', cursive;
font-family: 'DM Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Whisper', cursive;
*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Sans', sans-serif;
}
h1 {
    text-transform: uppercase;
    font-size: 6rem;
}
h2 {
    font-size: 5.5rem;
}
h3 {
    font-size: 5rem;
}
h4 {
    font-size: 4.5rem;
}
h5 {
    font-size: 4rem;
}
h6 {
    font-size: 3.5rem;
}
.main-bg {
    background-image: url('/assets/img/bg.svg'); 
    background-size: cover;
    background-attachment: none;
    color:var(--color);
}
.pink-bg {
   background: var(--color-pink)
}
.pink-bg2 {
    background: var(--color-pink2);
}
.main-content {
    max-width: 1400px;
    margin: 0 auto;
    padding: var(--gap);
}
.section {
    min-height: 100vh;
}
.menu {
    background: var(--color-pink2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 2px solid var(--border-color);
}
.menu h1 {
    font-size: 2.3rem;
    color:var(--primary-color)
}
.menu h1 a {
    color:inherit;
    display: block;
    padding: 2rem;
}
.menu ul {
    list-style: none;
    display: flex;
}
.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    text-transform: uppercase;
    position: relative;
}
.menu-content {
    display:flex;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
    font-family: 'Dancing Script', cursive;
}
.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    width: 0%;
    height: 0.2rem;
    background: #F0F8FF;
    transition: all 300ms ease-in-out;
}
.menu ul li a:hover::after {
    width: 70%;
    left: 13%;
}